version: "3.8"

services:
  db:
    image: postgres:15-alpine
    restart: always
    container_name: demo_postgres
    environment:
      POSTGRES_USER: ${DEV_DB_USER}
      POSTGRES_PASSWORD: ${DEV_DB_PASSWORD}
      POSTGRES_DB: ${DEV_DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - demo_network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: demo_nodejs_app
    ports:
      - "${DEV_PORT}:${DEV_PORT}"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    working_dir: /app
    command: npm run dev # hoặc node src/index.js tùy bạn
    networks:
      - demo_network

volumes:
  postgres_data:

networks:
  demo_network:
    driver: bridge
